@import url('../src/res/styles/font-poppins.css');
@import url('../src/res/styles/font-leaner.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .info {
        @apply bg-sky-900/20 text-sky-400
    }
    .text-info {
        @apply text-sky-400
    }
    .info-hover {
        @apply info border border-transparent transition-colors duration-200 hover:bg-sky-600/30 hover:border hover:border-sky-600;
    }
    .success {
        @apply bg-green-400/20 text-green-400
    }
    .text-success {
        @apply text-green-400
    }
    .success-hover {
        @apply success border border-transparent transition-colors duration-200 hover:bg-green-600/30 hover:border hover:border-green-600
    }
    .error {
        @apply bg-pink-600/20 text-pink-600
    }
    .text-error {
        @apply text-pink-600
    }
    .warn {
        @apply bg-orange-400/20 text-orange-500
    }
    .text-warn {
        @apply text-orange-500
    }
    .error-hover {
        @apply error border border-transparent transition-colors duration-200 hover:bg-pink-600/30 hover:border hover:border-pink-600
    }

    .input-section {
        @apply h-[40px] rounded-xl transition-all duration-500 border border-gray-200/30 focus-within:border-sky-600
    }

    .input-1 {
        @apply py-1 px-4 h-full w-full font-roboto outline-none text-gray-400 bg-transparent placeholder:text-gray-200/50
    }

    /* ==================== START: Custom input styles ==================== */
    .input-group-custom {
        @apply px-2 py-1 flex flex-col gap-0 bg-transparent rounded-md text-gray-500 border border-gray-300/10 transition-colors duration-300 focus-within:border-gray-500 focus-within:text-gray-300
    }
    .input-label {
        @apply text-sm
    }
    .input-custom {
        @apply bg-transparent font-sans focus:outline-none selection:bg-gray-900 selection:text-gray-200 text-gray-200
    }
    /* ==================== END: Custom input styles ==================== */


    /* ==================== START: LandingPageGlobal styles ==================== */
    .bg-light-gray {
        @apply bg-gray-700;
    }
    .bg-dark-gray {
        @apply bg-gray-800;
    }
    /* ==================== END: LandingPageGlobal styles ==================== */

    /* ==================== START: App component styles ==================== */
    .parentBgColor { @apply bg-sky-900/10}
	.swapBorderColor {@apply border-4 border-tailwind-blue-dark border-opacity-60}
	.inputSectionColor {@apply bg-sky-900/30}
    .optionSectionColor {@apply bg-tailwind-blue-dark}
	.inputSection {
        @apply h-[60px] flex flex-row items-center rounded-2xl transition-all duration-500
        outline-none focus-within:outline-1 focus-within:outline-sky-600
    }
	.input {
        @apply pl-4 h-full w-[70%] font-leaner font-bold text-4xl outline-none text-gray-400 bg-transparent
    }
    .addressInputSection {
        @apply h-[40px] rounded-xl transition-all duration-500 outline-none focus-within:outline-1 focus-within:outline-sky-600
    }
    .addressInput { @apply pl-4 h-full w-full font-mono text-lg outline-none text-gray-400 bg-transparent}
    /* ==================== END: App component styles ==================== */
}


@layer base {
    .container {
        @apply mx-16
    }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.infoCard {
    position: relative;
    width: 150px;
    height: 70px;
    /* border: 1px solid lightgray; */
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow: hidden;
}
.infoCard > div {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}
.infoCard > div > .number {
    margin-left: auto;
    font-size: x-large;
    font-weight: bold;
    color: darkgray;
}
.infoCard > div > .desc {
    margin-left: auto;
    font-size: large;
    color: lightslategray;
}
.infoCard > div > .icon {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 60px;
    height: 60px;
    filter: opacity(25%);
}
.infoCard > div > .children {
    margin-left: auto;
    font-size: small;
    color: darkgray;
}

.multi-route-path:first-child > i {
    display: none;
}
.multi-route-path:not(:first-child) > span{
    display: none;
}
/* .multi-route-path:not(:first-child) > i{
    display: none;
} */
